*{
  box-sizing: border-box;
  margin: 0;
}

button{
  outline: none;
  border: 0;
  cursor: pointer;
}
.navbar{
  font-size: 2rem;
  margin-bottom: 35px;
  padding: 1em;
  background-color: blanchedalmond;
}
.navbar-logo{
  color: green;
  margin-right: 0.5em;
}
.navbar-count{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  font-size: 25px;
  padding-top: 3px;
  text-align: center;
  background-color: green;
  border-radius: 50%;
  color: white;
}
.add-form{
  padding: 10px;
  margin-bottom: 30px;
}
.add-button{
  font-size: 30px;
  background-color: darkseagreen;
  color: white;
  border-radius: 10px;
}
.add-input{
    font-size: 30px;
}
.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}
.habit-count{
  text-align: center;
  padding: 0 14px;
  margin-left: 2px;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}
.habit-button{
  font-size:2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}
.habit-button:hover{
  opacity: 0.8;
}
.habit-increase,
.habit-decrease{
  color: goldenrod;
}
.habit-delete{
  font-size: 2rem;
  color: darkred;
}
.habits-reset{
  display: block;
  width: 80px;
  height: 50px;
  background-color: darkseagreen;
  color: white;
  border-radius: 10px;
  margin:0 auto;
  margin-top: 30px;
}

